/* Color Palette Variables */


/*$background: #E5F3F2;
$primary-accent: #00A79D;
$secondary-accent: #045E55;
$primary-text: #6D6E71;
$secondary-text: #939598;
$btn-text: #FFF;
$divider: #D1D3D4;*/


/* RGB */


/*
Nav: rgba(237, 106, 90, 1);
Background: rgba(244, 241, 187, 1);
Item Primary: rgba(155, 193, 188, 1);
Item Accent: rgba(92, 164, 169, 1);
Main Accent: rgba(230, 235, 224, 1);
*/

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: rgba(230, 235, 224, 1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.garage-door {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100vh;
  cursor: pointer;
  background-color: red;
  background-image: url('/assets/img/garage_door.jpg');
  background-position: top;
  background-size: cover;
}

.slideup,
.slidedown {
  overflow-y: hidden;
  height: 13vh;
  -webkit-transition: height 3s ease-in-out;
  -moz-transition: height 3s ease-in-out;
  -o-transition: height 3s ease-in-out;
  transition: height 3s ease-in-out;
}

.slidedown {
  height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 13vh;
  border-top: 2px solid rgba(230, 235, 224, 1);
  width: 100vw;
  padding: 10px;
  background-color: rgba(237, 106, 90, 1);
}

.user-interactions {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.user-interactions>div {
  padding: 5px;
}

.sort-btn {
  margin-left: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.item-container {
  position: relative;
  top: 24vh;
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 15px;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(92, 164, 169, 1);
  border-radius: 5px;
}

.count {
  font-weight: 400;
  font-style: italic;
}
