/* Color Palette Variables */


/*$background: #E5F3F2;
$primary-accent: #00A79D;
$secondary-accent: #045E55;
$primary-text: #6D6E71;
$secondary-text: #939598;
$btn-text: #FFF;
$divider: #D1D3D4;*/


/* RGB */


/*
Nav: rgba(237, 106, 90, 1);
Background: rgba(244, 241, 187, 1);
Item Primary: rgba(155, 193, 188, 1);
Item Accent: rgba(92, 164, 169, 1);
Main Accent: rgba(230, 235, 224, 1);
*/

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: rgba(230, 235, 224, 1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(237, 106, 90, 1);
}

.user-interactions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user-interactions>div {
  padding: 5px;
}

.sort-btn {
  padding: 5px 10px;
  margin-left: 20px;
  cursor: pointer;
}

.item-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 15px;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(92, 164, 169, 1);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.count {
  font-style: italic;
  font-weight: 400;
}
